@import './theme';
/* Global Styles */
html {
  font-family: 'Roboto', sans-serif;
  // montserrat, change roboto to montserrate
}

body {
  font-size: 16px;
  line-height: 24px;
  color: $text-color-dark; // Use theme text color
}

/* Headings */
h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  color: $primary-color; // Use primary color
}

h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  color: $secondary-color; // Use secondary color
}

/* Button Styles */
.v-btn {
  background-color: $primary-color !important;
  color: $text-color !important;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0.1em;
  padding: 12px 24px;
  border-radius: 8px;

  &:hover {
    background-color: $primary-color-dark !important;
  }
}

.v-btn.v-btn--variant-text {
  background-color: transparent !important;
  color: $secondary-color !important;
  &:hover {
    background-color: rgba($primary-color, 0.1) !important;
  }
}
.v-btn.v-btn--variant-tonal {
  background-color: $gray !important;
  color: $secondary-color !important;
  &:hover {
    background-color: rgba($primary-color, 0.1) !important;
  }
}
.v-btn.v-btn--variant-outline {
  background-color: transparent !important;
  color: $black !important;
  outline: auto;
  outline-color: $gray;

  &:hover {
    background-color: rgba($primary-color, 0.1) !important;
  }
}

.v-btn.v-btn--variant-elevated {
  background-color: $secondary-color !important;
  color: $black !important;
  outline: auto;
  outline-color: $gray;

  &:hover {
    background-color: rgba($secondary-color, 0.5) !important;
  }
}

/* Text Field Styles */
.v-text-field {
  
  .v-field {
    border: 1px solid $gray !important; // Outline color
    border-radius: 8px; // Rounded corners
    transition: border-color 0.1s ease-in-out;

    &:hover {
      border-color: $primary-color-dark !important; // Darker primary on hover
    }

    &:focus-within {
      border-color: $gray !important; // Secondary color when focused
    }
  }

  .v-label {
    color: $black !important; // Label color
  }

  .v-input__control {
    border-color: $gray !important;
  }

  .v-input__control:focus-within {
    border-color: $secondary-color !important;
  }
}

/* Data Table */
.v-data-table-header th {
  background-color: $primary-color;
  color: $text-color !important;
  padding: 16px;
}

/* Alerts */
.v-alert {
  background-color: transparent !important;
  color: $text-color !important;
  font-size: 12px;
  margin-bottom: 1em;
  border-radius: 5px;
}

/* Navigation Drawer */
.v-navigation-drawer {
  width: 200px;
  margin: 50px 100px 10px 10px;
  background-color: $gray; // Use neutral color
}

/* Footer */
.v-footer {
  height: 50px;
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: $primary-color-dark; // Footer in dark primary
}

input {
  border: 1px solid $gray !important;
  border-radius: 8px;
  padding: 8px 12px;
  transition: border-color 0.3s ease-in-out;

  &:hover {
    border-color: $gray !important;
  }

  &:focus {
    border-color: $gray !important;
    outline: none;
  }
}

textarea {
  border: 1px solid $gray !important;
  border-radius: 8px;
  padding: 8px 12px;
  transition: border-color 0.3s ease-in-out;
  font-size: 16px;
  width: 100%;

  &:hover {
    border-color: $primary-color-dark !important;
  }

  &:focus {
    border-color: $secondary-color !important;
    outline: none;
  }
}

.report-container {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: #ffffff;
}

.report-section {
  margin-bottom: 20px;
  padding: auto;
}

.section-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  
}

.section-content {
  padding: 10px;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.page-title {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  padding: 10px 16px;
  background-color: rgba($primary-color, 0.1);
  justify-self: start;
  padding: 20px;
}