@import './theme';

/* Global Styles */
html {
  font-family: 'Montserrat', sans-serif; // Changed to Montserrat
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: $text-color-dark;
}

/* Headings */
h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  color: $black;
}

h2 {
  font-size: 34px;
  font-weight: 600;
  line-height: 40px;
  color: $black;
}

h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  color: $black;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

h5 {
  font-size: 20px;
  font-weight: 500;
}

h6 {
  font-size: 18px;
  font-weight: 500;
}

/* Paragraphs & Links */
p {
  font-size: 16px;
  line-height: 24px;
  color: $black;
}

a {
  font-size: 16px;
  font-weight: 500;
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: darken($primary-color, 10%);
  }
}

/* Button Styles */
.v-btn {
  background-color: $primary-color !important;
  color: $text-color !important;
  font-size: 16px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0.5px;
  padding: 12px 24px;
  border-radius: 8px;

  &:hover {
    background-color: $primary-color-dark !important;
  }
}

.v-btn.v-btn--variant-text {
  background-color: transparent !important;
  color: $secondary-color !important;

  &:hover {
    background-color: rgba($primary-color, 0.1) !important;
  }
}

.v-btn.v-btn--variant-tonal {
  background-color: $gray !important;
  color: $black !important;

  &:hover {
    background-color: rgba($primary-color, 0.1) !important;
  }
}

.v-btn.v-btn--variant-outline {
  background-color: transparent !important;
  color: $black !important;
  border: 1px solid $gray;

  &:hover {
    background-color: rgba($primary-color, 0.1) !important;
  }
}

.v-btn.v-btn--variant-elevated {
  background-color: $secondary-color !important;
  color: $white !important;
  border: 1px solid $gray;

  &:hover {
    background-color: rgba($secondary-color, 0.5) !important;
  }
}

/* Text Fields */
.v-text-field {
  font-size: 16px;
  
  .v-field {
    border: 1px solid $gray !important;
    border-radius: 8px;
    transition: border-color 0.1s ease-in-out;

    &:hover {
      border-color: $primary-color-dark !important;
    }

    &:focus-within {
      border-color: $gray !important;
    }
  }

  .v-label {
    color: $black !important;
    font-size: 14px;
  }

  .v-input__control {
    border-color: $gray !important;
  }

  .v-input__control:focus-within {
    border-color: $secondary-color !important;
  }
}

/* Data Table */
.v-data-table-header th {
  background-color: $primary-color;
  color: $text-color !important;
  padding: 16px;
  font-size: 16px;
}

/* Alerts */
.v-alert {
  background-color: transparent !important;
  color: $text-color !important;
  font-size: 14px;
  margin-bottom: 1em;
  border-radius: 5px;
}

/* Navigation Drawer */
.v-navigation-drawer {
  width: 220px;
  background-color: $gray;
}

/* Footer */
.v-footer {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: $primary-color-dark;
}

/* Form Inputs */
input, textarea {
  font-size: 16px;
  border: 1px solid $gray !important;
  border-radius: 8px;
  padding: 8px 12px;
  transition: border-color 0.3s ease-in-out;
  
  &:hover {
    border-color: $gray !important;
  }

  &:focus {
    border-color: $gray !important;
    outline: none;
  }
}

textarea {
  width: 100%;
  height: 120px;
}

/* Tabs */
.v-tabs {
  .v-tab {
    font-size: 16px;
    font-weight: 500;
    color: gray;
    transition: color 0.3s ease;
    
    &--active {
      color: white;
      background-color: $primary-color !important;
    }

    &:hover {
      color: darken(gray, 15%);
    }
  }
}

.v-tab--selected {
  background-color: $primary-color !important;
  color: white !important;
}

.inactive-tab {
  background-color: $gray !important;
  color: $black !important;
}

.v-tab:hover {
  background-color: rgba($primary-color, 0.5) !important;
  color: white !important;
}

.active-tab {
  background-color: $primary-color; 
  color: white;
}

/* Section Styles */
.report-container {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: #ffffff;
}

.section-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.page-title {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 16px;
  color: $white !important;
  background-color: $primary-color !important;
  margin-bottom: 40px;
  padding: 20px;
}